In [7]:
tup1 =  (1, 2, 3, 4)

In [6]:
tup = (3,)

# It will throw an error
# tup = (,)


tup = ()
type(tup)

tuple

In [5]:
tup = tuple([1, 2, 3,4])
tup

(1, 2, 3, 4)

In [4]:
tup = (1, 2, 3, 4, 5)
tup = tup+(7, )
tup += (10, )
tup

(1, 2, 3, 4, 5, 7, 10)

In [3]:
Salaries = []
n = int(input("Enter no of Employees:  "))

for i in range(0, n):
    salary = int(input(f"Enter the {i}th Employee Salary: "))
    Salaries.append(salary)

tup_sal = tuple(Salaries)
print(f"Maximum salary among all the employee is:", max(tup_sal))
print(f"Minimum salary among all the employee is:", min(tup_sal))

Enter no of Employees:  3
Enter the 0th Employee Salary: 1000
Enter the 1th Employee Salary: 15000
Enter the 2th Employee Salary: 20000
Maximum salary among all the employee is: 20000
Minimum salary among all the employee is: 1000

In [2]:

a = (1, 2, 3)
a = a*3
a

# Iteration

for i in a:
    print(a[i])

2
3
1
2
3
1
2
3
1

In [1]:
emp = {}

n = int(input("Enter the number of employees"))

for i in range(n):
    name = input("Enter the name: ")
    number = input("Enter the number: ")
    
    emp[name] = number

print("\n")
for name, number in emp.items():

    print(f"Name: {name}, Number: {number}")

Enter the number of employees3
Enter the name: subhash
Enter the number: 10
Enter the name: sam
Enter the number: 5
Enter the name: ujjwal
Enter the number: 50


Name: subhash, Number: 10
Name: sam, Number: 5
Name: ujjwal, Number: 50